<h3></h3>


<div style="position: relative;top: 50%; transform: translateY(+10%);">

<div style="text-align:center;">
<img src="assets/imgs/CNLogoRed.png" alt="Mountain View" align="middle" style="width:165px;height:110px;">
</div>

<div class="row">
    <form class="col s12" >
      <div class="row">
        <div class="input-field col s3"></div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" #topicCode>
          <label for="last_name">Topic Code</label>
          <md-menu #appMenu="mdMenu">
            <button md-menu-item> RIC </button>
            <button md-menu-item> TopicCode </button>
          </md-menu>

        </div>

        <div class="input-field col s3">
          <button md-icon-button [mdMenuTriggerFor]="appMenu">
             <md-icon>more_vert</md-icon>
          </button>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s3"></div>
        <div class="input-field col s6">
          <input id="last_name" type="text" class="validate" #ric>
          <label for="last_name">RIC</label>
        </div>
        <div class="input-field col s3"></div>
      </div>

      <div class="row">
        <div class="input-field col s3"></div>
        <div class="input-field col s6">
          <input placeholder="" id="first_name" type="text" class="validate datepicker" type="date" #startTime>
        </div>
        <div class="input-field col s3"></div>
      </div>

      <div class="row">
        <div class="input-field col s3"></div>
        <div class="input-field col s6">
          <input placeholder="" id="first_name" type="text" class="validate datepicker" type="date" #endTime>
        </div>
        <div class="input-field col s3"></div>
      </div>

      <div class="row">
        <div class="input-field col s4"></div>
        <div class="input-field col s4" style="text-align: center">
          <button md-button class="red lighten-1" style="color:white" (click)="displaySearch(topicCode.value, ric.value, startTime.value, endTime.value)">
              Search
          </button>
        </div>
        <div class="input-field col s4"></div>
      </div>

    </form>
</div>


</div>
