<div class="container">
    <div class="row">
        <div class="main-content">
            <div class="homepage-logo" style="text-align:center;">
                <img src="assets/imgs/CNLogo.png" alt="Mountain View" align="middle" style="width:165px;height:80px;">
            </div>
              <div class="card">
                <form (ngSubmit)="onSubmit(searchQuery.value)" #heroForm="ngForm">
                    <div class="input-field">
                        <input #searchQuery id="search" type="search" required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                        <a class="btn-small white">
                            {{this.currentSearch}}
                        </a>
                        <ul id="dropdown1" class="dropdown-content">
                          <li><a (click)="setCurrentSearch('RIC')">RIC</a></li>
                          <li><a (click)="setCurrentSearch('Topic Code')">Topic Code</a></li>
                        </ul>
                        <a class="dropdown-button" href="#!" data-activates="dropdown1">
                            <i class="material-icons right">arrow_drop_down</i>
                        </a>
                    </div>
                </form>
              </div>
        </div>
    </div>
</div>
