#home {
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100vh;
  text-align: center;
}
#home{
    background-image: url("../../../assets/imgs/home-bg-slideshow1.jpg");
}
#home h1 {
  font-size: 40px;
}
#home h3 {
  font-size: 14px;
}
#home hr {
  width: 240px;
}
#home .btn {
  background: transparent;
  border: 4px solid #ffffff;
  border-radius: 0;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;

  transition: all 0.4s ease-in-out;
}
#home .btn:hover {
  background: #FE4A67;
  border-color: transparent;
}
#home .btn-danger {
  background: #FE4A67;
  border-color: transparent;
}
#home .btn-danger:hover {
	border: 4px solid #ffffff;
  	border-radius: 0;
	background: transparent;
  	color: #ffffff;
}

#search {
    text-align: center;
}
#search .col-md-4 {
  padding: 28px;
  position: relative;
  transition: all 0.4s ease-in-out;
}
#search .col-md-4:hover {
  background-color: #ffffff;
  box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.20);
}
#search h3 {
  font-size: 18px;
}
.dual-container {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 100px;
}
.left-panel {
    width: 50%;
    float: left;
}
.right-panel {
    width: 50%;
    float: right;
}
.search-form {
    width: 100%;
    margin: 0 auto;
    padding-left: 15%;
}


.section-title .heading {
    color: #FE4A67;
    font-size: 24px;
}

.section-title {
    padding-bottom: 32px;
}

#sectors {
  text-align: center;
}
