<h3></h3>

<div style="position: relative;top: 50%; transform: translateY(+50%);">

<div style="text-align:center;">
<img src="imgs/CNLogo.png" alt="Mountain View" align="middle" style="width:165px;height:90px;">
</div>

<form>
<div class="input-field row">
    <div class="col s3"></div>

        <div class="col s6" style="text-align:center;">
          <div class="input-field white">
              <input placeholder="Topic Code" id="search-example" type="search" #topicCode required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
        </div>

  <div class="col s3"></div>
</div>

<div class="input-field row">
    <div class="col s3"></div>

        <div class="col s6" style="text-align:center;">
          <div class="input-field white">
              <input placeholder="RIC" id="search-example" type="search" #ric required>
              <label class="label-icon" for="search"><i class="material-icons">search</i></label>
              <i class="material-icons">close</i>
            </div>
        </div>

  <div class="col s3"></div>
</div>

<div class="input-field row">
    <div class="col s3"></div>
    <div class="col s6" style="text-align:center">
      <button type="button" class="waves-effect waves-light btn white" style="color:black" (click)="displaySearch(topicCode.value, ric.value)">Search</button>
    </div>

  <div class="col s3"></div>
</div>
</form>

</div>
