<div class="container">
    <h3>Search Results</h3>
    <ul style="list-style: none;">
      <div *ngIf="logfile === undefined">loading...</div>
      <div class="row">
      <li *ngFor="let article of news">
          <div class="col s1"></div>
                  <div class="col s5">
                    <div class="card white">
                      <div class="card-content black-text">
                        <span class="card-title">{{article.Headline}}</span>
                        <div class="row">
                          <div class="col s6 left" style="padding-left:0px;">
                                <div *ngFor="let ric of article.InstrumentIDs">
                                    <p class="grey-text">{{ric}}</p>
                                </div>
                          </div>
                          <div class="col s6 right" style="text-align:right; padding-right:0px;">
                            <p class="grey-text">{{article.TimeStamp}}</p>
                          </div>
                        </div>
                      </div>
                      <div class="card-action" >
                        <p>{{article.NewsText.slice(0,149)}}</p>
                        <br><br>
                        <a (click)="displayNewsStory(article.Headline)" class="waves-effect waves-light red btn">Read More</a>
                      </div>

                    </div>
                  </div>
     </li>
 </div>
        <div *ngIf="logfile"> {{logfile.success ? "":"No results:( Please try again"}} </div>
     </ul>
</div>
